/* Variable color */
:root{
    --blue : rgb(50, 113, 209)

}

main{
    text-align: center;   
}

.timer{
    float: right;
}

/*start button*/
#start {
    background-color: var(--blue);
    color: aliceblue;
    border-radius: 5px;
    border: var(--blue) ;
    width: 120px;
    height: 45px;
}

#start:hover{
    transform: scale(1.1);
}

#submit {
    background-color: var(--blue);
    color: aliceblue;
    border-radius: 5px;
    border: var(--blue) ;
    width: 80px;
    height: 25px;
}

 #submit:hover{
    transform: scale(1.05);
 }